:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;

    font-family: 'Merriweather Sans', sans-serif;
    color: var(--text-color);
    font-size: 62.5%;
}

body {
    background-color: var(--body-bg-color);

    display: grid;
    padding: 4rem;
    grid-template: "header content" auto
                   "footer footer" 4rem / 34.8rem auto;
    column-gap: 6rem;
}